@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto:wght@100&display=swap');
:root{
    --Orange: hsl(26, 100%, 55%);
--Paleorange: hsl(25, 100%, 94%);

/* ### Neutral */

--Veryvarkblue: hsl(220, 13%, 13%);
--Darkgrayishblue: hsl(219, 9%, 45%);
--Grayishblue: hsl(220, 14%, 75%);
--Lightgrayishblue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
/* (with 75% opacity for lightbox background) */
--Black : hsla(0, 0%, 0%,75%);
}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Kumbh Sans', sans-serif;

}
.desktop{
    display: none;
}
/* header - navbar */
.wrapper__header{
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    padding: 0 1.5rem;
    position: relative;
}
#icon__mobile{
    position: relative;
    z-index: 99;
    transition: 600ms ease-in-out;
    background-image: url("images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
    padding: 15px 12px;
}
#hamburguer{
    display: none;
}
#hamburguer:checked ~ nav.mobile{
    left: 0;
}
#hamburguer:checked ~ label#icon__mobile{
    background-image: url("images/icon-close.svg");
}
.nav__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.logo{
    padding-left: 1rem;
}

.cart__profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart{
    transform: translateY(4px);
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border: 3px solid transparent;
    transition: 300ms ease-in-out;
    max-width: 33px;
    max-height: 33px;
    
}
.profile:hover{
    border-color: var(--Orange);
    border-radius: 50%;
}
.avatar{
    max-width: 30px;
    max-height: 45px;
}
nav.mobile{
    height: 200vh;
    background-color: var(--White);
    width: 200px;
    position: absolute;
    left: -200px;
    z-index: 96;
    transition: 500ms ease-in-out;
    
}
nav.mobile ul{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(12%);
}
nav.mobile ul li {
    padding: .5rem 0;
    padding-left: 1.5rem;
}
nav.mobile ul li a{
    text-decoration: none;
    color: var(--Veryvarkblue);
    font-weight: 700;
}
/* header - navbar */

/* hero */

.wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
}
.hero .article img{
    width: 100%;
    
}
.hero .article {
    position: relative;
    z-index: 94;
    max-height: 50%;
}
.btn__prev, .btn__next{
    position: absolute;
    max-height: 16px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 99;
    background-color: var(--White);
    border-radius: 50%;
    cursor: pointer;
}
.btn__prev{
    background-image: url(images/icon-previous.svg);
    left: 1.1rem;
    background-position:45% center;
    background-repeat: no-repeat;
    border: none;
    background-size: 28.25%;
    padding: 1rem;
}
.btn__next{
    background-image:url(images/icon-next.svg);
    right: 1.1rem;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    background-size: 30%;
    padding: 1rem;
}
/* hero */

/* product info */

.info{
    display: flex;
    flex-direction: column;
    padding: .5rem 1.5rem;
}
.info .brand a{
    text-decoration: none;
    font-weight: 700;
    color: var(--Orange);
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8rem;
}

.article__name{
    color: var(--Veryvarkblue);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.2rem;
    padding: 0.5rem 0;
    max-width: 22ch;
}
.details{
    color: var(--Darkgrayishblue);
}
/* pricing */
.pricing{
    margin-top: 1.2rem;
    padding: 0 1.5rem;
}
.price__discount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Veryvarkblue);
}
.price{
    display: flex;
    align-items: center;
}
.discount__percent{
    background-color: var(--Paleorange);
    color: var(--Orange);
    font-size: .8rem;
    padding: .2rem .4rem;
    border-radius: 5px;
    margin-left: .4rem;
}
.full__price{
    font-weight: 700;
    color: var(--Grayishblue);
    text-decoration: line-through;
}
.input__amout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    padding:  .5rem ;
    background-color: var(--Lightgrayishblue);
    margin-top: 1.2rem;
}
.minus,.plus{
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.minus{
    background-image: url(images/icon-minus.svg);
    padding: 1rem;
}
.plus{
    background-image: url(images/icon-plus.svg);
    padding: 1rem;
}
.amoutOfItems{
    font-weight: 700;
    color: var(--Veryvarkblue);
}
.add__btn {
    margin-top: 1.2rem;
}
.add__btn .btn{
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: var(--Orange);
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 250ms ease-in-out;
    justify-content: center;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
;

}
.add__btn .btn:hover{
    opacity: .7;
}
.add__btn .btn svg{
    margin-right: .8rem;
    
    
}


/* product info */


/* floaters and modals */

.cart__content{
    display: none;
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    width: 90%;
    box-shadow:
    0.4px 3.8px 2.2px rgba(0, 0, 0, 0.019),
    0.9px 9px 5.3px rgba(0, 0, 0, 0.027),
    1.8px 17px 10px rgba(0, 0, 0, 0.032),
    3.1px 30.4px 17.9px rgba(0, 0, 0, 0.038),
    5.8px 56.8px 33.4px rgba(0, 0, 0, 0.047),
    14px 136px 80px rgba(0, 0, 0, 0.07)
  ;
    border-radius: 4px;
    z-index: 95;
}
.cart__content .container {
    padding: 1rem;
    width: 100%;
    position: relative;
    
}
.cart__title{
    padding: .6rem 0;
    font-weight: 700;
    border-bottom: 2px solid var(--Lightgrayishblue);
}
.cart__article{
    padding: .7rem 0;
}
.article__details,.cart__article{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#thumbnail{
    width: 55px;
    height: 55px;
}
.article__details{
    flex-direction: column;
    margin: 0 .8rem;
    color: var(--Darkgrayishblue);
}
.name{
    width: 100%;
    font-size: .8rem;
}
.price__calcualtion{
    width: 100%;
}
.price__calcualtion > *:not(:nth-child(3)){
    padding-right: .2rem;
}
.total{
    color: black;
    font-weight: 700;
}
.btn__cheackout .btn{
    width: 100%;
    padding: 0.8rem 0;
    border: 0;
    border-radius: 7px;
    background-color: var(--Orange);
    font-weight: 700;
    color: white;
    
}
#cart__show{
    display: none;
}
#cart__show:checked ~ .cart__content{
    display: block;
}

/* Dektop Version */

@media (min-width:700px){
    /* mobile styles , and navbar */
    #icon__mobile,.mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    .desktop ul{
        list-style: none;
        display: flex;
        margin-left: 2.5rem;
    }
    .desktop ul li a{
        text-decoration: none;
        color: var(--Darkgrayishblue);
        padding: 26px 0;
        position: relative;
    }
    .desktop ul li a::after{
        display: flex;
        justify-content: center;
        align-items: center;
        content: "";
        width: 0;
        height: 4px;
        background-color: var(--Orange);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: 350ms ease-in-out;
        
    }
    .desktop ul li a:hover::after{
        width: 100%;
        height: 4px;
    }
    .desktop ul li:not(:nth-child(5)){
        margin-right: 1.5rem;
    }
    .wrapper__header{
        border-bottom: 2px solid var(--Lightgrayishblue);
        padding: 0 2rem ;
        margin: 0 1.7rem;
        
    }


    /* hero */
     .wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 0;
        height: calc(100vh - 92px);
    }
    .hero .article{
        width: 100%;
        margin: auto;
        position: relative;
    }
    .hero{
        position: relative;
        place-items: center;
        margin: auto;
    }
    .hero .main__image .article img{
        width:100%;
        height: 420px;
        border-radius: 10px;
    }
    .details{
        max-width: 55ch;
    }
    .main__image{
        width: 100%;
        overflow-x: hidden;
    }
    .main__image figure img{
        width: 100%;
    }
    .grid{
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-between;
        position: absolute;
        bottom: -95px;
        padding: 0 .2rem;
    }
    .grid li figure img{
        width: 80px;
        height: 80px;
        border-radius: 5px;
        cursor: pointer;
        transition: 200ms ease-in-out;
    }
    .grid li figure img:hover {
        opacity: 0.7;
    }

    /* info section pricing */
    .info{
        align-self: center;
    }
    .pricing{
        padding: 0;
        margin-top: .7rem;
    }
    .price__discount{
        flex-direction: column;
        align-items: flex-start;
    }
    .amount__details{
        display: flex;
    }
    .amoutOfItems{
        padding: 0 1.2rem;
        
    }
    .input__amout{
        margin-right: .9rem;
    }
    .add__btn{
        width: 40%;
    }
    .article__name{
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
    }
    .details{
        margin-bottom: .7rem;
    }
    /*  */

    /* floaters and modals */
    .cart__profile{
        position: relative;
    }
    .cart__content{
        display: none;
        position: absolute;
        bottom: -280%;
        left: -170px;
        background-color: white;
        min-width: 280px;
        box-shadow:
        0.4px 3.8px 2.2px rgba(0, 0, 0, 0.019),
        0.9px 9px 5.3px rgba(0, 0, 0, 0.027),
        1.8px 17px 10px rgba(0, 0, 0, 0.032),
        3.1px 30.4px 17.9px rgba(0, 0, 0, 0.038),
        5.8px 56.8px 33.4px rgba(0, 0, 0, 0.047),
        14px 136px 80px rgba(0, 0, 0, 0.07)
      ;
        border-radius: 4px;

    }
    .cart__content .container {
        padding: 1rem;
        width: 100%;
    }
    .cart__title{
        padding: .6rem 0;
        font-weight: 700;
        border-bottom: 2px solid var(--Lightgrayishblue);
    }
    .cart__article{
        padding: .7rem 0;
    }
    .article__details,.cart__article{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #thumbnail{
        width: 55px;
        height: 55px;
    }
    .article__details{
        flex-direction: column;
        margin: 0 .8rem;
        color: var(--Darkgrayishblue);
    }
    .name{
        width: 100%;
        font-size: .8rem;
    }
    .price__calcualtion{
        width: 100%;
    }
    .price__calcualtion > *:not(:nth-child(3)){
        padding-right: .2rem;
    }
    .total{
        color: black;
        font-weight: 700;
    }
    .btn__cheackout .btn{
        width: 100%;
        padding: 0.8rem 0;
        border: 0;
        border-radius: 7px;
        background-color: var(--Orange);
        font-weight: 700;
        color: white;
        
    }
    #cart__show{
        display: none;
    }
    #cart__show:checked ~ .cart__content{
        display: block;
    }

}
